<h2 class="displayHeading">Skill Type: People</h2>
<div class="displayDetails">
  <ul class=skillList>
    <li><img src="../../imgs/icons/icons2/reception.svg" alt="" class="techIcons"/><p>Guest/Client relations</p></li>
    <li><img src="../../imgs/icons/icons2/customer-service.svg" alt="" class="techIcons"/><p>Customer service</p></li>
    <li><img src="../../imgs/icons/icons2/collaboration.svg" alt="" class="techIcons"/><p>Floor Management</p></li>
    <li><img src="../../imgs/icons/icons2/teamwork.svg" alt="" class="techIcons"/><p>Team building</p></li>
    <li><img src="../../imgs/icons/icons2/leadership.svg" alt="" class="techIcons"/><p>Team Leadership</p></li>
    <li><img src="../../imgs/icons/icons2/translate.svg" alt="" class="techIcons"/><p>Cross-cultural communication</p></li>
    <li><img src="../../imgs/icons/icons2/domestic-dispute.svg" alt="" class="techIcons"/><p>Dispute Resolution</p></li>
    <li><img src="../../imgs/icons/icons2/tag.svg" alt="" class="techIcons"/><p>Sales</p></li>
    <li><img src="../../imgs/icons/icons2/edit-tools.svg" alt="" class="techIcons"/><p>Product development</p></li>
    <li><img src="../../imgs/icons/icons2/calendar.svg" alt="" class="techIcons"/><p>Event planning</p></li>
  </ul>
</div>
