<h2 class="displayHeading">Skill Type: Teaching</h2>
<div class="displayDetails">
  <ul class=skillList>
    <li><img src="../../imgs/icons/icons2/blackboard.svg" alt="" class="techIcons"/><p>Teaching English as Second Language</p></li>
    <li><img src="../../imgs/icons/icons2/diary.svg" alt="" class="techIcons"/><p>Lesson Planning</p></li>
    <li><img src="../../imgs/icons/icons2/teacher-desk.svg" alt="" class="techIcons"/><p>Classroom Management</p></li>
    <li><img src="../../imgs/icons/icons2/protest.svg" alt="" class="techIcons"/><p>Sports Coaching</p></li>
    <li><img src="../../imgs/icons/icons2/ballet.svg" alt="" class="techIcons"/><p>Dance Education</p></li>
  </ul>
</div>
