<h2 class="displayHeading">Skill Type: Tech</h2>
<div class="displayDetails">
  <ul class=skillList>
    <li><p>Stand Up</p></li>
    <li><p>Pair-coding</p></li>
    <li><img src="../../imgs/icons/" alt="" /><p>JavaScript</p></li>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%"        aria-valuenow="25" aria-valuemin="0" aria-valuemax="50">
      </div>
    </div>
    <li><img src="" alt="" /><p>AngularJS</p></li>
    <li><img src="" alt="" /><p>jQuery</p></li>
    <li><img src="" alt="" /><p>MongoDB</p></li>
    <li><img src="" alt="" /><p>HTML 5</p></li>
    <li><img src="" alt="" /><p>Bootstrap</p></li>
    <li><img src="" alt="" /><p>Git/Github</p></li>
    <li><img src="" alt="" /><p>Heroku</p></li>
    <li><img src="" alt="" /><p>Node.Js</p></li>
    <li><img src="" alt="" /><p>Express</p></li>
    <li><img src="" alt="" /><p>PostgreSQL</p></li>
    <li><p>APIs</p></li>
    <li><p>RESTful programming</p></li>
    <li><img src="" alt="" /><p>Ruby</p></li>
    <li><img src="" alt="" /><p>Ruby on Rails</p></li>
    <li><img src="" alt="" /><p>Trello</p></li>
    <li><img src="" alt="" /><p>AJAX</p></li>
    <li><p>Agile methodology</p></li>
    <li><img src="" alt="" /><p>NPM</p></li>
    <li><img src="" alt="" /><p>SCSS</p></li>
    <li><img src="" alt="" /><p>Bower</p></li>
    <li><p>Testing</p></li>
    <li><p>TDD</p></li>
    <li><p>Arduino</p></li>
  </ul>
</div>
