<h2 class="displayHeading">My Life Story</h2>
<div class="displayDetails">
  <p>
    Just the kind of guy I am.
  </p>
  <p>
    Jamaican living in Peckham, London via Kumamoto, Japan. Words, music, movement, people and philosophy are my main reasons for living. I've always been involved in sport and music making. Epicurius and Aristotle are my favourite thinkers. I enjoy small talk, big talk and making others happy. Self described as conflict-averse. Fascinated by dispute resolution. Proud of my Jamaican/Caibbean/African roots. To me, dance is an obsession. I do it almost everyday. <a class="links" href="https://www.youtube.com/watch?v=liBnl3CnrQ4" target="_blank"><p>Memphis Jookin</p></a><p>is my style of choice.</p>

  </p>
  <ul class="interests">
    <li><h4>Interests:</h4></li>
    <li><a class="links" href="https://www.instagram.com/p/BNQWo4LAgsq/" target="_blank"><p>Dance</p></a></li>
    <li><a class="links" href="https://www.instagram.com/p/BPBUwgvAvlq/" target="_blank"><p>Ice Skating</p</a></li>
    <li><a class="links" href="https://soundcloud.com/michael-stone-grandison" target="_blank"><p>Singing/Song writing</p></a></li>
    <li><a class="links" href="http://imgur.com/NRwDWY3" target="_blank"><p>Astrology</p></a></li>
    <li><a class="links" href="https://online-go.com/" target="_blank"><p>Go (Board Game)</p></a></li>
    <li><a class="links" href="https://itch.io/" target="_blank"><p>Gaming</p></a></li>
    <li><a class="links" href="http://quantifiedself.com/" target="_blank"><p>Quantified Self</p></a></li>
    <li><a class="links" href="http://whatistranshumanism.org/" target="_blank"><p>Transhumanism</p></a></li>
    <li>Dance Education</li>
  </ul>
</div>
