<h2 class="displayHeading">Time Travlrz</h2>
<div class="displayDetails">
  <p>
    An interactive journey through history using the google maps api. Users explore maps of different locations across four time periods learning about various historical events. Each event provides a clue to a location which enables a change of time period i.e map layout .
  </p>

  <div class="projectFrame">
    <img class="projecPics" src="../../imgs/project/tt1.png" alt="" />
  </div>

  <div class="projectFrame">
    <img class="projecPics" src="../../imgs/project/tt2.png" alt="" />
  </div>

  <div class="projectFrame">
    <img class="projecPics" src="../../imgs/project/tt3.png" alt="" />
  </div>

  <ul class="projectTech">
    <li><p>Made with:</p></li>
    <li><img src="../../imgs/icons/html.svg" alt="" class="techIcons"/><p>HTML 5</p></li>
    <li><img src="../../imgs/icons/css.svg" alt="" class="techIcons"/><p>CSS 3</p></li>
    <li><img src="../../imgs/icons/bootsrap.svg" alt="" class="techIcons"/><p>Bootstrap</p></li>
    <li><img src="../../imgs/icons/javascript.svg" alt="" class="techIcons"/><p>Javascript</p></li>
    <li><img src="../../imgs/icons/jquery.svg" alt="" class="techIcons"/><p>jQuery</p></li>
    <li><img src="../../imgs/icons/ajax.png" alt="" class="techIcons"/><p>AJAX</p></li>
    <li><img src="../../imgs/icons/maps.png" alt="" class="techIcons"/><p>Google Maps API</p></li>
    <li><img src="../../imgs/icons/wiki.png" alt="" class="techIcons"/><p>Wikimedia API</p></li>
    <li><img src="../../imgs/icons/express.svg" alt="" class="techIcons"/><p>Express</p></li>
    <li><p>JWT</p></li>
    <li><img src="../../imgs/icons/nodejs.svg" alt="" class="techIcons"/><p>Node.js</p></li>
    <li><img src="../../imgs/icons/gulp.svg" alt="" class="techIcons"/><p>Gulp</p></li>
    <li><img src="../../imgs/icons/mongodb.svg" alt="" class="techIcons"/><p>MongoDB</p></li>
    <li><img src="../../imgs/icons/githubicon.png" alt="" class="techIcons"/><p>Github</p></li>
  </ul>
  <p>
    Main Contributions:
    Authentication, DB management, UI
  </p>
  <a href="https://timetravlr.herokuapp.com/" target="_blank"><img src="../../imgs/icons/herokuicon.png" alt="" class="projectLinks"/></a>
  <!-- <br> -->
  <a href="https://github.com/michaelstoneg/WDI-23-project-two" target="_blank"><img src="../../imgs/icons/githubicon.png" alt="" class="projectLinks"/></a>
</div>
