<h2 class="displayHeading">Ephemeralia</h2>
<div class="displayDetails">
  <p>
    My tribute to Pinterest. Performs all the core functions of Pinterest. An adventure in PostgreSQL relational databases, Ruby on Rails and AngularJS. Users can build their collections of items that anyone has added to the site as well as view the collections of others.
  </p>
  <ul class="projectTech">
    <li><p>Made with:</p></li>
    <li><p>HTML 5</p></li>
    <li><p>CSS 3</p></li>
    <li><p>SCSS</p></li>
    <li><p>Bootstrap</p></li>
    <li><p>Homemade API</p></li>
    <li><p>Ruby</p></li>
    <li><p>Ruby on Rails</p></li>
    <li><p>Angular JS</p></li>
    <li><p>PostgreSQL</p></li>
    <li><p>JWT</p></li>
    <li><p>NPM</p></li>
    <li><p>Bower</p></li>
    <li><p>Gulp</p></li>
    <li><p>Satellizer</p></li>
    <li><p>Github</p></li>
  </ul>
  <a href="https://ephemeralia.herokuapp.com/" target="_blank"><img src="../../imgs/icons/herokuicon.png" alt="" class="projectLinks"/></a>
  <br>
  <p>Front-end:</p>
  <a href="https://github.com/michaelstoneg/final-project-frontend" target="_blank"><img src="../../imgs/icons/githubicon.png" alt="" class="projectLinks"/></a>
  <br>
  <p>Back-End:</p>
  <a href="https://github.com/michaelstoneg/final-project-api" target="_blank"><img src="../../imgs/icons/githubicon.png" alt="" class="projectLinks"/></a>
</div>
