<h2>Grid Of Fire</h2>
<div class="displayDetails">
  <p>
    Two player, arena fighting game requiring tactical use of  movement, attacking and defending. Score keeping, multiple interchangeable weapons and 2 sizes of play area. Controls are mapped to keystrokes.
  </p>
  <ul class="projectTech">
    <li><p>Made with:</p></li>
    <li><p>HTML 5</p></li>
    <li><p>CSS 3</p></li>
    <li><p>Javascript</p></li>
  </ul>
  <a href="https://thun-der-grid.herokuapp.com/" target="_blank" class="links">Heroku</a>
  <br>
  <a href="https://github.com/michaelstoneg/wdi_ldn_32i_project1_thundergrid" target="_blank" class="links">Github</a>
</div>
