<h2 class="displayHeading">Ephemeralia</h2>
<div class="displayDetails">
  <p>
    My tribute to Pinterest. Performs all the core functions of Pinterest. An adventure in PostgreSQL relational databases, Ruby on Rails and AngularJS. Users can build their collections of items that anyone has added to the site as well as view the collections of others.
  </p>
  <ul class="projectTech">
    <li><p>Made with:</p></li>
    <li><img src="../../imgs/icons/html.svg" alt="" class="techIcons"/><p>HTML 5</p></li>
    <li><img src="../../imgs/icons/css.svg" alt="" class="techIcons"/><p>CSS 3</p></li>
    <li><img src="../../imgs/icons/sass.svg" alt="" class="techIcons"/><p>SCSS</p></li>
    <li><img src="../../imgs/icons/bootstrap.svg" alt="" class="techIcons"/><p>Bootstrap</p></li>
    <li><p>Homemade API</p></li>
    <li><img src="../../imgs/icons/ruby.svg" alt="" class="techIcons"/><p>Ruby</p></li>
    <li><img src="../../imgs/icons/rails.svg" alt="" class="techIcons"/><p>Ruby on Rails</p></li>
    <li><img src="../../imgs/icons/angular.svg" alt="" class="techIcons"/><p>Angular JS</p></li>
    <li><img src="../../imgs/icons/postgresql.svg" alt="" class="techIcons"/><p>PostgreSQL</p></li>
    <li><p>JWT</p></li>
    <li><img src="../../imgs/icons/npm.svg" alt="" class="techIcons"/><p>NPM</p></li>
    <li><img src="../../imgs/icons/bower.svg" alt="" class="techIcons"/><p>Bower</p></li>
    <li><img src="../../imgs/icons/gulp.svg" alt="" class="techIcons"/><p>Gulp</p></li>
    <li><p>Satellizer</p></li>
    <li><img src="../../imgs/icons/github.svg" alt="" class="techIcons"/><p>Github</p></li>
  </ul>
  <a href="https://ephemeralia.herokuapp.com/" target="_blank"><img src="../../imgs/icons/herokuicon.png" alt="" class="projectLinks"/></a>
  <br>
  <p>Front-end:</p>
  <a href="https://github.com/michaelstoneg/final-project-frontend" target="_blank"><img src="../../imgs/icons/githubicon.png" alt="" class="projectLinks"/></a>
  <br>
  <p>Back-End:</p>
  <a href="https://github.com/michaelstoneg/final-project-api" target="_blank"><img src="../../imgs/icons/githubicon.png" alt="" class="projectLinks"/></a>
</div>
