<h2>My Work Story</h2>
<div class="displayDetails">
  <p>
    Up until now my work, teaching for six years & hospitality (client-facing and supervisory) has been about deriving satisfaction from enriching the lives of others.
    The choice to change industry was influenced by the value coding skills could bring to developing my home country, Jamaica.
    A developer is an artisan and his medium, the internet, fascinates me to no end. This kind of work is very empowering.
    I’m seeking a team and a mentor that can give me the skills and opportunities to work on truly satisfying projects. especially in the realms of AR, the Internet of Things and Quantified Self.
  </p>
</div>
