<h2>Time Travlrz</h2>
<div class="displayDetails">
  <p>
    An interactive journey through history using the google maps api. Users explore maps of different locations across four time periods learning about various historical events. Each event provides a clue to a location which enables a change of time period i.e map layout .
  </p>
  <ul>
    <li>Made with:</li>
    <li></li>
  </ul>
  <p>
    Main Contributions:
    Authentication, DB management, UI
  </p>
  <a href="https://timetravlr.herokuapp.com/" target="_blank">Heroku</a>
  <br>
  <a href="https://github.com/michaelstoneg/WDI-23-project-two" target="_blank">Github</a>
</div>
