<h2>Ephemeralia</h2>
<div class="displayDetails">
  <p>
    My tribute to Pinterest. Performs all the core functions of Pinterest. An adventure in PostgreSQL relational databases, Ruby on Rails and AngularJS. Users can build their collections of items that anyone has added to the site as well as view the collections of others.
  </p>
  <ul>
    <li>Made with:</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <a href="https://ephemeralia.herokuapp.com/" target="_blank">Heroku</a>
  <br>
  <a href="https://github.com/michaelstoneg/final-project-frontend" target="_blank">Front-end Github</a>
  <br>
  <a href="https://github.com/michaelstoneg/final-project-api" target="_blank">Back-end Github</a>
</div>
