<h2>Grid Of Fire</h2>
<div class="displayDetails">
  <p>
    Two player, arena fighting game requiring tactical use of  movement, attacking and defending. Score keeping, multiple interchangeable weapons and 2 sizes of play area. Controls are mapped to keystrokes.
  </p>
  <ul>
    <li>Made with:</li>
    <li>HTML 5</li>
    <li>CSS 3</li>
    <li>Javascript</li>
  </ul>
  <a href="https://thun-der-grid.herokuapp.com/" target="_blank">Heroku</a>
  <br>
  <a href="https://github.com/michaelstoneg/wdi_ldn_32i_project1_thundergrid" target="_blank">Github</a>
</div>
