<h2>Time Travlrz</h2>
<div class="displayDetails">
  <p>
    An interactive journey through history using the google maps api. Users explore maps of different locations across four time periods learning about various historical events. Each event provides a clue to a location which enables a change of time period i.e map layout .
  </p>
  <ul class="projectTech">
    <li><p>Made with:</p></li>
    <li><p>HTML 5</p></li>
    <li><p>CSS 3</p></li>
    <li><p>Bootstrap</p></li>
    <li><p>Javascript</p></li>
    <li><p>jQuery</p></li>
    <li><p>AJAX</p></li>
    <li><p>Google Maps API</p></li>
    <li><p>Wikimedia API</p></li>
    <li><p>Express</p></li>
    <li><p>JWT</p></li>
    <li><p>Node.js</p></li>
    <li><p>Gulp</p></li>
    <li><p>MongoDB</p></li>
    <li><p>Github</p></li>
  </ul>
  <p>
    Main Contributions:
    Authentication, DB management, UI
  </p>
  <a href="https://timetravlr.herokuapp.com/" target="_blank" class="links">Heroku</a>
  <br>
  <a href="https://github.com/michaelstoneg/WDI-23-project-two" target="_blank" class="links">Github</a>
</div>
