<h2 class="displayHeading">Align</h2>
<div class="displayDetails">
  <p>
    Mobile only mood app made using the MEAN stack. Collects and graphs data about user’s mood, provides relaxing and motivating activities to improve user’s mood and a journal entry feature.
  </p>

  <div class="projectMobileFrame">
    <img class="projecPics" src="../../imgs/project/align1.png" alt="" />
  </div>

  <div class="projectMobileFrame">
    <img class="projecPics" src="../../imgs/project/align2.png" alt="" />
  </div>

  <div class="projectMobileFrame">
    <img class="projecPics" src="../../imgs/project/align3.png" alt="" />
  </div>

  <ul class="projectTech">
    <li><p>Made with:</p></li>
    <li><img src="../../imgs/icons/html.svg" alt="" class="techIcons"/><p>HTML 5</p></li>
    <li><img src="../../imgs/icons/css.svg" alt="" class="techIcons"/><p>CSS 3</p></li>
    <li><img src="../../imgs/icons/sass.svg" alt="" class="techIcons"/><p>SCSS</p></li>
    <li><img src="../../imgs/icons/bootstrap.svg" alt="" class="techIcons"/><p>Bootstrap</p></li>
    <li><img src="../../imgs/icons/meanio.svg" alt="" class="techIcons"/><p>MEAN Stack</p></li>
    <li><img src="../../imgs/icons/npm.svg" alt="" class="techIcons"/><p>NPM</p></li>
    <li><img src="../../imgs/icons/bower.svg" alt="" class="techIcons"/><p>Bower</p></li>
    <li><img src="../../imgs/icons/gulp.svg" alt="" class="techIcons"/><p>Gulp</p></li>
    <li><p>JWT</p></li>
    <li><img src="../../imgs/icons/githubicon.png" alt="" /><p>Github</p></li>
  </ul>
  <p>
    Main Contributions:
    DB management, mood data sets & charts
  </p>
  <a href="https://tranquil-plateau-11910.herokuapp.com/#/" target="_blank"><img src="../../imgs/icons/herokuicon.png" alt="" class="projectLinks"/></a>
  <!-- <br> -->
  <a href="https://github.com/michaelstoneg/wdi-23i-project3" target="_blank"><img src="../../imgs/icons/githubicon.png" alt="" class="projectLinks"/></a>
</div>
