<h2>
  <img src="../../imgs/logos/ngfc.jpg" alt="Nishida's Gymnastics" class="experienceLogos"/>
</h2>
<div class="displayDetails">
  <h4>Artistic Gymnastics Instructor/Coach</h4>
  <p>
    <em>Nishida's Gymnastics and Fitness Centre</em>
    <em>September - December 2016</em>
  </p>
  <p>
    Assisted in planning and executing regular competitions from 10-80 participants.
    Taught US amateur gymnastics (USAG) levels 1-4 skills and routines at 4 schools to children aged 3-15
    Assisted in planning and executing competitions.
    Assistant coach for competitive boy's team training in USAG levels 5-8.
  </p>

  <a href="http://www.ngjamaica.com/" target="_blank" class="links">More</a>
</div>
