<ul class="menuList">
  <!-- <ul class="menuList"> -->
    <ul class="menuList">
      <li><p><em>Education</em></p></li>
      <li><a ui-sref="experience1" href="#">General Assembly</a></li>
      <li><a ui-sref="experience2" href="#">IH London</a></li>
      <li><a ui-sref="experience3" href="#">University of the West Indies</a></li>
    </ul>
    <ul class="menuList">
      <li><p><em>Work</em></p></li>
      <li><a ui-sref="experience4" href="#">Asst Manager</a></li>
      <li><a ui-sref="experience5" href="#">Asst English Teacher</a></li>
      <li><a ui-sref="experience6" href="#">Gymnastics Coach</a></li>
  </ul>
<!-- </ul> -->
