<ul class="menuList">
  <!-- <ul class="menuList"> -->
    <ul class="menuList">
      <li><p class="experienceHeading"><em>Education</em></p></li>
      <li><a ui-sref="experience1" href="#" class="subMenuButton">Sep/Dec 2016</a></li>
      <li><a ui-sref="experience2" href="#" class="subMenuButton">Aug 2016</a></li>
      <li><a ui-sref="experience3" href="#" class="subMenuButton">2004-2008</a></li>
    </ul>
    <ul class="menuList">
      <li><p class="experienceHeading"><em>Work</em></p></li>
      <li><a ui-sref="experience4" href="#" class="subMenuButton">2012-2016</a></li>
      <li><a ui-sref="experience5" href="#" class="subMenuButton">2009-2012</a></li>
      <li><a ui-sref="experience6" href="#" class="subMenuButton">2007-2009</a></li>
  </ul>
<!-- </ul> -->
