<h2>
  <img src="../../imgs/logos/ih.jpg" alt="International House London" class="experienceLogos"/>
</h2>
<div class="displayDetails">
  <h4>Cambridge CELTA Student</h4>
  <p>
    <em>International House, London</em>
    <em>August 2016</em>
  </p>
  <p>
    Cambridge CELTA is a Certificate of English Language Teaching to Adults.
    Challenging intensive course with impressive balance of theoretical and practical aspects.
    Lot's of valuable lesson planning, teaching practice and tutor feedback.
  </p>

  <a href="http://www.ihlondon.com/courses/full-time-celta-4-weeks/" target="_blank" class="links">More</a>
</div>
