<h2 class="displayHeading">The Deets</h2>
<div class="displayDetails">
  <ul class="contactList">
    <li><a href="mailto: michael.grandison@gmail.com">
      <img src="../../imgs/icons/gmailicon.png" alt="" class="contactIcons"/></a></li>
    <li><a href="https://uk.linkedin.com/in/michaelstoneg" target="_blank">
      <img src="../../imgs/icons/linkedinicon.png" alt="" class="contactIcons"/></a></li>
    <li><a href="https://github.com/michaelstoneg/" target="_blank">
      <img src="../../imgs/icons/githubicon.png" alt="" class="contactIcons"/></a></li>
    <li><a href="https://www.instagram.com/michaelstoneg/?hl=en" target="_blank">
      <img src="../../imgs/icons/instaicon.png" alt="" class="contactIcons"/></a></li>
  </ul>
</div>
