<h2>GA</h2>
<div class="displayDetails">
  <h4>Web Development Immersive Student</h4>
  <p>
    <em>General Assembly, London</em>
    <em>September - December 2016</em>
  </p>
  <p>
    Intense 3 months mostly practical exercises in front, back end, and full stack web apps. Various languages, frameworks, design and development principles aforementioned were tested with 4 projects across the course. Emphasis was placed on problem solving (using documentation, stack-overflow), teamwork (daily stand up, pair coding and group projects) and organization (trello, pseudo-coding, wire-framing).
  </p>

  <a href="https://generalassemb.ly/" target="_blank">More</a>
</div>
