<h2>JET</h2>
<div class="displayDetails">
  <h4> Amakusa City Assistant English Language Teacher</h4>
  <p>
    <em>Amakusa city, Kumamoto prefecture, Japan</em>
    <em>August 2009 - August 2012</em>
  </p>
  <p>
    Team-teaching and solo teaching English as a second language to children aged 4-15.
    Lesson and curriculum planning. Planned English poetry and recitation contests
    Translated various school wide documents
    Wrote, edited and proofread English documents: Letters, teaching materials, publications
    Coached junior high school students for regional English recitation competition
    Assistant coach for junior high school track and club and elementary school football club
  </p>

  <a href="http://jetprogramme.org/en/" target="_blank" class="links">More</a>
</div>
