body {
  &.contact {
    .submenu {
      display: none;
    }
    .display {
      width: 82%;
    }
  }
}

.avatar {
  border: 3px solid black;
  height: 30%;
  width: 20%;
  background-color: yellow;
  display: inline-block;
}

.stats {
  border: 3px solid blue;
  height: 20%;
  width: 79%;
  display: inline-block;
}

.menu {
  border: 3px solid red;
  width: 17%;
  height: 80%;
  display: inline-block;
  float: left;

}

.display {
  border: 3px solid green;
  height: 80%;
  width: 60%;
  display: inline-block;
  float: left;
}

.submenu {
  border: 3px solid orange;
  height: 80%;
  width: 22%;
  display: inline-block;
  float: left;
}

.frame {
  height: 500px;
  width: 800px;
  margin: 10% 20% 10% 20%;
}
