body {
  &.contact {
    .submenu {
      display: none;
    }
    .display {
      width: 82%;
    }
  }
}

header{
  height: 25%;
}

.avatar {
  border: 3px solid black;
  height: 100%;
  width: 17%;
  background-color: yellow;
  display: inline-block;
  vertical-align: top;
}

.stats {
  border: 3px solid blue;
  height: 100%;
  width: 82%;
  display: inline-block;
  padding: 4%;
}

.statList {
  columns: 3;

}

.menu {
  border: 3px solid red;
  width: 17%;
  height: 80%;
  display: inline-block;
  float: left;

}

.display {
  border: 3px solid green;
  height: 80%;
  width: 60%;
  display: inline-block;
  float: left;
}

.submenu {
  border: 3px solid orange;
  height: 80%;
  width: 22.5%;
  display: inline-block;
  float: left;
}

.frame {
  height: 500px;
  width: 800px;
  margin: 10% 20% 10% 20%;
}
