<h1>Computers</h1>
<div class="displayDetails">
  <ul class=skillList>
    <li>Stand Up</li>
    <li>Pair-coding</li>
    <li>JavaScript</li>
    <li>AngularJS</li>
    <li>jQuery</li>
    <li>MongoDB</li>
    <li>HTML 5</li>
    <li>Bootstrap</li>
    <li>Git/Github</li>
    <li>Heroku</li>
    <li>Node.Js</li>
    <li>Express</li>
    <li>PostgreSQL</li>
    <li>APIs</li>
    <li>RESTful programming</li>
    <li>Ruby</li>
    <li>Ruby on Rails</li>
    <li>Trello</li>
    <li>AJAX</li>
    <li>Agile methodology</li>
    <li>NPM</li>
    <li>SCSS</li>
    <li>Bower</li>
    <li>Testing</li>
    <li>TDD</li>
    <li>Arduino</li>
  </ul>
</div>
