<h2 class="displayHeading">Skill Type: Tech</h2>
<div class="displayDetails">
  <ul class=skillList>
    <li><p>Stand Up</p></li>
    <li><p>Pair-coding</p></li>
    <li><p>JavaScript</p></li>
    <li><p>AngularJS</p></li>
    <li><p>jQuery</p></li>
    <li><p>MongoDB</p></li>
    <li><p>HTML 5</p></li>
    <li><p>Bootstrap</p></li>
    <li><p>Git/Github</p></li>
    <li><p>Heroku</p></li>
    <li><p>Node.Js</p></li>
    <li><p>Express</p></li>
    <li><p>PostgreSQL</p></li>
    <li><p>APIs</p></li>
    <li><p>RESTful programming</p></li>
    <li><p>Ruby</p></li>
    <li><p>Ruby on Rails</p></li>
    <li><p>Trello</p></li>
    <li><p>AJAX</p></li>
    <li><p>Agile methodology</p></li>
    <li><p>NPM</p></li>
    <li><p>SCSS</p></li>
    <li><p>Bower</p></li>
    <li><p>Testing</p></li>
    <li><p>TDD</p></li>
    <li><p>Arduino</p></li>
  </ul>
</div>
