<h2 class="displayHeading">Skill Type: Misc</h2>
<div class="displayDetails">
  <ul class=skillList>
    <li><img src="../../imgs/icons/icons2/japan.svg" alt="" class="techIcons"/><p>Conversational Japanese</p></li>
    <li><img src="../../imgs/icons/icons2/typewriter.svg" alt="" class="techIcons"/><p>Copy Writing</p></li>
    <li><img src="../../imgs/icons/icons2/music-player.svg" alt="" class="techIcons"/><p>Song Writing</p></li>
    <li><img src="../../imgs/icons/icons2/masks.svg" alt="" class="techIcons"/><p>Dramatic Writing</p></li>
  </ul>
</div>
