<h2 class="displayHeading">Skill Type: Tech</h2>
<div class="displayDetails">
  <p>In order of confidence:</p>
  <ul class=skillList>

    <li><img src="../../imgs/icons/javascript.svg" alt="" class="techIcons"/><p>JavaScript</p></li>
    <li><img src="../../imgs/icons/html.svg" alt="" class="techIcons"/><p>HTML 5</p></li>
    <li><img src="../../imgs/icons/angular.svg" alt="" class="techIcons"/><p>AngularJS</p></li>
    <li><img src="../../imgs/icons/jquery.svg" alt="" class="techIcons"/><p>jQuery</p></li>
    <li><img src="../../imgs/icons/mongodb.svg" alt="" class="techIcons"/><p>MongoDB</p></li>
    <li><img src="../../imgs/icons/css.svg" alt="" class="techIcons"/><p>CSS 3</p></li>
    <li><p>Pair-coding</p></li>
    <li><img src="../../imgs/icons/bootstrap.svg" alt="" class="techIcons"/><p>Bootstrap</p></li>
    <li><img src="../../imgs/icons/githubicon.png" alt="" class="techIcons"/><p>Git/Github</p></li>
    <li><p>Stand Up</p></li>
    <li><img src="../../imgs/icons/herokuicon.png" alt="" class="techIcons"/><p>Heroku</p></li>
    <li><img src="../../imgs/icons/nodejs.svg" alt="" class="techIcons"/><p>Node.Js</p></li>
    <li><img src="../../imgs/icons/express.svg" alt="" class="techIcons"/><p>Express</p></li>
    <li><img src="../../imgs/icons/postgresql.svg" alt="" class="techIcons"/><p>PostgreSQL</p></li>
    <li><img src="../../imgs/icons/api.svg" alt="" class="techIcons"/><p>APIs</p></li>
    <li><p>RESTful programming</p></li>
    <li><img src="../../imgs/icons/ruby.svg" alt="" class="techIcons"/><p>Ruby</p></li>
    <li><img src="../../imgs/icons/rails.svg" alt="" class="techIcons"/><p>Ruby on Rails</p></li>
    <li><img src="../../imgs/icons/trello.svg" alt="" class="techIcons"/><p>Trello</p></li>
    <li><img src="../../imgs/icons/ajax.png" alt="" class="techIcons"/><p>AJAX</p></li>
    <li><p>Agile methodology</p></li>
    <li><img src="../../imgs/icons/npm.svg" alt="" class="techIcons"/><p>NPM</p></li>
    <li><img src="../../imgs/icons/sass.svg" alt="" class="techIcons"/><p>SCSS</p></li>
    <li><img src="../../imgs/icons/bower.svg" alt="" class="techIcons"/><p>Bower</p></li>
    <li><img src="../../imgs/icons/chemistry.svg" alt="" class="techIcons"/><p>Testing</p></li>
    <li><img src="../../imgs/icons/chemistry2.svg" alt="" class="techIcons"/><p>TDD</p></li>
    <li><img src="../../imgs/icons/arduino.svg" alt="" class="techIcons"/><p>Arduino</p></li>
  </ul>
</div>
